$bg-white: #FFFFFF;
$bg-gray: #A6AEBF;
$bg-dark-gray: #333333;
$bg-red: #ED694B;
$bg-light-blue: #A1CEEC;
$bg-lightnest-blue: #E6F1F9;
$bg-lighter-blue: #F4F7FB;
$bg-blue: #3B5491;

$backgrounds: (
  'white': $bg-white,
  'gray': $bg-gray,
  'dark-gray': $bg-dark-gray,
  'red': $bg-red,
  'light-blue': $bg-light-blue,
  'lightnest-blue': $bg-lightnest-blue,
  'blue': $bg-blue,
);
