$bg-white: #FFFFFF;
$bg-gray: #A7A7AB;
$bg-dark-gray: #333333;
$bg-red: #ED694B;
$bg-light-blue: #CED9F0;
$bg-lightnest-blue: #E6F1F9;
$bg-blue: #0050B2;

$backgrounds: (
  'white': $bg-white,
  'gray': $bg-gray,
  'dark-gray': $bg-dark-gray,
  'red': $bg-red,
  'light-blue': $bg-light-blue,
  'lightnest-blue': $bg-lightnest-blue,
  'blue': $bg-blue,
);
