$color-white: #ffffff;
$color-red: #ED694B;
$color-light-red: rgba(238, 63, 88, 0.25);
$color-blue: #0050B2;
$color-light-blue: #CED9F0;
$color-black: #333333;
$color-gray: #A7A7AB;
$color-steel-gray: #7F8FA4;
$color-transparent: transparent;

$colors: (
  'white': $color-white,
  'red': $color-red,
  'light-red': $color-light-red,
  'blue': $color-blue,
  'light-blue': $color-light-blue,
  'black': $color-black,
  'gray': $color-gray,
  'transparent': transparent,
);
