$color-white: #ffffff;
$color-red: #ED694B;
$color-light-red: rgba(238, 63, 88, 0.25);
$color-blue: #3B5491;
$color-light-blue: #A1CEEC;
$color-black: #333333;
$color-gray: #A6AEBF;
$color-steel-gray: #EBEEF3;
$color-transparent: transparent;

$colors: (
  'white': $color-white,
  'red': $color-red,
  'light-red': $color-light-red,
  'blue': $color-blue,
  'light-blue': $color-light-blue,
  'black': $color-black,
  'gray': $color-gray,
  'steel-gray': $color-steel-gray,
  'transparent': transparent,
);
